{% extends "base.html" %}

{% block title %}登录小助手{% endblock %}

{% block page_content %}
    <div class="login-header">
        <img src="{{ url_for('static', filename='image/logo.jpg') }}" alt="同济大学生活小助手">
        <h4>登录小助手</h4>
    </div>
    <form class="login-body clearfix" role="form" method="post">
        <div class="form-group">
            <label for="input_contact">{{ form.email.label }}</label>
            {{ form.email }}
            {% if form.email.errors %}
                {% for err in form.email.errors %}
                <p style="color: red;">{{ err }}</p>
                {% endfor %}
            {% elif get_flashed_messages(category_filter=['account_error']) %}
                {% for msg in get_flashed_messages(category_filter=['account_error']) %}
                <p style="color: red;">{{ msg }}</p>
                {% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
            <label for="input_password">
                <a href="{{ url_for('auth.password_reset_request') }}">忘记密码?</a>
                {{ form.password.label }}
            </label>
            {{ form.password }}
            {% if form.password.errors %}
                {% for err in form.password.errors %}
                <p style="color: red;">{{ err }}</p>
                {% endfor %}
            {% elif get_flashed_messages(category_filter=['pwd_error']) %}
                {% for msg in get_flashed_messages(category_filter=['pwd_error']) %}
                <p style="color: red;">{{ msg }}</p>
                {% endfor %}
            {% endif %}
        </div>
        <div class="form-group rememble-me">
            {{ form.rememble_me }}
            {{ form.rememble_me.label }}
            <a href="{{ url_for('auth.register') }}">没有帐号?</a>
        </div>
        {{ form.csrf_token }}
        {{ form.submit }}
    </form>
{% endblock %}