{% extends 'base.html' %}
{% import '_macros.html' as macros %}

{% block title %}你关注了谁{% endblock %}

{% block page_content %}
    <!--内容-->
    <div class="container" style="margin-top:76px">
    {% include "users/menu.html" %}
    <div class="col-md-9">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-home"></span>&nbsp;
                    用户中心
                </h3>
            </div>
            <div class="panel-body">
                {% if follows %}
                    <ul class="posts">
                        {% for follow in follows %}
                            <li class="post">
                                <div class="profile-thumbnail">
                                    <a href="{{ url_for('main.user', id=follow['user'].id) }}">
                                        <img class="img-rounded profile-thumbnail" {% if follow['user'].avatar %}src="{{ url_for('static', filename='uploads/users/' + follow['user'].avatar) }}"{% else %} src="{{ url_for('static', filename='uploads/users/' + 'tjer.gif') }}{% endif %}">
                                    </a>
                                </div>
                                <div class="post-date" style="font-size: 12px">{{ moment(follow['user'].member_since).fromNow() }}加入</div>
                                <div class="post-author" style="margin-left: 15px">
                                    <a href="{{ url_for('main.user', id=follow['user'].id) }}">
                                        {{ follow['user'].username }}
                                    </a>
                                </div>
                                <div class="post-body">
                                    {% if follow['user'].about_me %}
                                        {{ follow['user'].about_me }}
                                    {% else %}
                                        这个人很神秘，什么也没留下......
                                    {% endif %}
                                    <div class="post-footer">
                                        {% if current_user != post %}
                                            <a href="{{ url_for('main.follow', id=follow['user'].id) }}">
                                                <span class="label label-primary">关注</span>
                                            </a>
                                            <a href="#">
                                                <span class="label label-success">留言</span>
                                            </a>
                                        {% endif %}
                                        <a href="#">
                            <span class="label label-primary">
                                {{ follow['user'].posts.count() }}&nbsp;帖子
                            </span>
                                        </a>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="center">
                        {{ macros.pagination_widget(pagination, endpoint, id=user.id) }}
                    </div>
                {% else %}
                    {% if endpoint == 'main.followers' %}
                        <h3>{{ user.username }}还没有关注的人......</h3>
                    {% else %}
                        <h3>{{ user.username }}还没有粉丝......</h3>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        const selector = {% if endpoint ==  'main.followers'%} "#following";{% else %} "#followers"; {% endif %}
        $(document).ready(function () {
            $(selector).addClass("active")
        });
    </script>
{% endblock %}