{% extends "base.html" %}
{% import '_macros.html' as macros %}
{% block title %}你收到的的留言{% endblock %}

{% block page_content %}
    <!--内容-->
    <div id="container">
        {% include "users/menu.html" %}
        <div class="col-md-9">
            <div class="panel panel-system">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-envelope"></span>&nbsp;系统消息</h3>
                </div>
                <div class="panel-body">
                    {% if system_messages %}
                        <ul class="posts">
                            {% for message in system_messages %}
                                <li style="padding-top: 10px;padding-bottom: 10px;" class="post">
                                    {{ message.body }}
                                    <div class="post-footer">
                                        <a href="{{ url_for('main.del_system_message', id=message.id) }}">删除</a> | <span>{{ moment(message.add_time).format('LLL') }}</span>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="center">
                            {{ macros.pagination_widget(pagination, 'main.system_messages') }}
                        </div>
                    {% else %}
                        <h4>当前无系统消息</h4>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!--内容-->
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function () {
            $("#system-message").addClass("active")
        });
    </script>
{% endblock %}