{% extends 'base.html' %}
{% import '_macros.html' as macros %}

{% block title %}加精申请{% endblock %}

{% block page_content %}
    <!--内容-->
    <div class="container" style="margin-top:76px">
        {% include "users/menu.html" %}
        <div class="col-md-9">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-pushpin"></span>&nbsp;加精申请</h3>
                </div>
                <div class="panel-body">
                    {% if best_post_applys %}
                        <ul class="posts">
                            {% for best_post_apply in best_post_applys %}
                                <li style="padding-top: 10px;padding-bottom: 10px;" class="post">
                                    <div style="margin-bottom: 30px;">
                                    <span style="float: left">
                                        {{ best_post_apply.user.username }}为帖子“{{ best_post_apply.post.title }}”申请加精
                                    </span>
                                        <span style="float: right">
                                            <a href="{{ url_for('main.accept_best_post_apply', id=best_post_apply.post.id) }}">
                                                <span class="label label-success">同意</span>
                                            </a>
                                            <a href="{{ url_for('main.refuse_best_post_apply', id=best_post_apply.post.id) }}">
                                                <span class="label label-danger">拒绝</span>
                                            </a>
                                    </span>
                                    </div>
                                    <div class="post-footer">
                                        <span>申请时间：{{ moment(best_post_apply.add_time).format('LLL') }}</span>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="center">
                            {{ macros.pagination_widget(pagination, 'main.best_post_applys') }}
                        </div>
                    {% else %}
                        <h4>还没有帖子申请加精</h4>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!--内容-->
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function () {
            $("#best-post-apply").addClass("active")
        });
    </script>
{% endblock %}