{% extends 'base.html' %}
{% block title %}{{ current_user.username }}-修改密码{% endblock %}

{% block page_content %}
    <!--内容-->
    <div class="container" style="margin-top:76px">
        {% include "admin/menu.html" %}
        <div class="col-md-9">
            <div class="panel panel-system">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-lock"></span>&nbsp;修改密码</h3>
                </div>
                <div class="panel-body">
                    <form role="form" method="post">
                        <fieldset>
                            <div class="form-group">
                                <label for="input_oldpwd">
                                    <span class="glyphicon glyphicon-lock"></span>&nbsp;{{ form.old_pwd.label }}
                                </label>
                                {{ form.old_pwd }}
                                {% if form.old_pwd.errors %}
                                    {% for err in form.old_pwd.errors %}
                                        <p style="color: red;">{{ err }}</p>
                                    {% endfor %}
                                {% elif get_flashed_messages(category_filter=['error']) %}
                                    {% for msg in get_flashed_messages(category_filter=['error']) %}
                                        <p style="color: red;">{{ msg }}</p>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label for="input_newpwd">
                                    <span class="glyphicon glyphicon-lock"></span>&nbsp;{{ form.new_pwd.label }}
                                </label>
                                {{ form.new_pwd }}
                                {% if form.new_pwd.errors %}
                                    {% for err in form.new_pwd.errors %}
                                        <p style="color: red;">{{ err }}</p>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label for="input_confirm_newpwd">
                                    <span class="glyphicon glyphicon-lock"></span>&nbsp;{{ form.confirm_new_pwd.label }}
                                </label>
                                {{ form.confirm_new_pwd }}
                                {% if form.confirm_new_pwd.errors %}
                                    {% for err in form.confirm_new_pwd.errors %}
                                        <p style="color: red;">{{ err }}</p>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            {{ form.csrf_token }}
                            {{ form.submit }}
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--内容-->
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function () {
            $("#edit-pwd").addClass("active")
        });
        $(document).ready(function () {
            $("#clear").val('');
        })
    </script>
{% endblock %}