<div class="col-md-3">
    <div class="list-group">
        <a id="user-info" href="{{ url_for('main.userinfo')}}" class="list-group-item">
            <span class="glyphicon glyphicon-user"></span>&nbsp;基本信息
        </a>
        <a id="edit-pwd" href="{{ url_for('main.edit_pwd')}}" class="list-group-item user-center">
            <span class="glyphicon glyphicon-lock"></span>&nbsp;修改密码
        </a>
        <a id="following" href="{{ url_for('main.followers', id=current_user.id) }}" class="list-group-item user-center">
            <span class="glyphicon glyphicon-heart"></span>&nbsp;你的关注
        </a>
        <a id="followers" href="{{ url_for('main.followed_by', id=current_user.id) }}" class="list-group-item user-center">
            <span class="glyphicon glyphicon-apple"></span>&nbsp;你的粉丝
        </a>
        <a id="posts" href="{{ url_for('main.posts', page=1) }}" class="list-group-item user-center">
            <span class="glyphicon glyphicon-calendar"></span>&nbsp;你的帖子
        </a>
        <a id="collections" href="{{ url_for('main.collected_posts', page=1) }}" class="list-group-item user-center">
            <span class="glyphicon glyphicon-star"></span>&nbsp;你的收藏
        </a>
        <a id="message-board" href="{{ url_for('main.messages') }}" class="list-group-item user-center">
            <span class="glyphicon glyphicon-comment"></span>&nbsp;你的留言
        </a>
        {% if current_user.is_admin() %}
        <a id="best-post-apply" href="{{ url_for('main.best_post_applys') }}" class="list-group-item user-center">
            <span class="glyphicon glyphicon-pushpin"></span>&nbsp;加精申请
        </a>
        {% endif %}
    </div>
</div>