<ul class="posts">
    {% for f in range(length) %}
        <li {% if post.user != comments[f].user %} class="post not-owner" {% else %} class="post" {% endif %}>
            <div class="row">
                <div class="col-md-2 aligncenter">
                    {% if comments[f].user.avatar %}
                        <a {% if current_user == comments[f].user %} href="{{ url_for('main.userinfo') }}"{% else %} href="{{ url_for('main.user', id=comments[f].user.id) }}"{% endif %}>
                            <img src="{{ url_for('static', filename='uploads/users/' + comments[f].user.avatar) }}"
                                 style="width: 100px;" class="img-responsive img-rounded">
                        </a>
                    {% else %}
                        <a {% if current_user == comments[f].user %} href="{{ url_for('main.userinfo') }}"{% else %} href="{{ url_for('main.user', id=comments[f].user.id) }}"{% endif %}>
                            <img src="{{ url_for('static', filename='uploads/users/tjer.gif') }}"
                                 style="width: 100px;" class="img-responsive img-rounded">
                        </a>
                    {% endif %}
                    <a {% if current_user == comments[f].user %} href="{{ url_for('main.userinfo') }}"{% else %} href="{{ url_for('main.user', id=comments[f].user.id) }}"{% endif %}
                                                                 class="center">
                        {{ comments[f].user.username }}
                    </a>
                </div>
                <div class="col-md-10">
                <span id="comment-body">
                    {{ comments[f].body | safe }}
                </span>
                    <div class="post-footer">
                        {% if current_user == comments[f].user %}
                            <a href="{{ url_for('main.del_comment', id=comments[f].id, post_id=post.id) }}">删除&nbsp;</a>
                        {% endif %}
                        <span>{{ f + 2 }}&nbsp;楼&nbsp;|&nbsp;{{ moment(comments[f].add_time).format('LLL') }}&nbsp;-</span>
                        <span class="do_reply">回复</span>({{ comments[f].replys.count() }})
                        <br>
                        <div class="comment-form">
                            {% if comments[f].replys %}
                                <ul class="reply-comments">
                                    {% for reply_comment in comments[f].replys %}
                                        <li class="reply-comment">
                                            {{ reply_comment.user.username }}: {{ reply_comment.body }}
                                            <div class="post-footer">
                                                {% if current_user == reply_comment.user %}
                                                    <a href="{{ url_for('main.del_rep_comment', id=reply_comment.id, post_id=post.id) }}">删除</a>&nbsp;|&nbsp;
                                                {% endif %}
                                                {{ reply_comment.add_time }}
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            <form role="form" method="post" action="{{ url_for('main.post_detail', id=post.id, page=page, reply_comment_id=comments[f].id) }}">
                                <div class="form-group">
                                    {{ form.reply }}
                                </div>
                                <div class="form-group">
                                    {{ form.csrf_token }}
                                    {{ form.submit }}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>