<div class="col-md-2">
    <div class="list-group side-bar">
        <a class="list-group-item" href="#">热门</a>
        <a class="list-group-item" href="#">最新</a>
        <a class="list-group-item" href="#">精华</a>
        <a class="list-group-item" href="#">书籍资料</a>
        <a class="list-group-item" href="#">交通工具</a>
        <a class="list-group-item" href="#">卡，票，券</a>
        <a class="list-group-item" href="#">数码电子</a>
        <a class="list-group-item" href="#">服装鞋包</a>
        <a class="list-group-item" href="#">生活用品</a>
        <a class="list-group-item" href="#">运动装备</a>
        <a class="list-group-item" href="#">求购</a>
        <a class="list-group-item" href="#">交流</a>
        <a class="list-group-item" href="#">已售/已购</a>
        <a class="list-group-item" href="#">其他</a>
    </div>
</div>