{% if posts %}
    <ul class="posts">
        {% for post in posts %}
            <li style="padding-top: 10px;padding-bottom: 10px;" class="post">
                <h3 style="display: inline; vertical-align: center; margin-bottom: 20px;">{{ post.title }}</h3>
                <div style="margin-top: 20px;">
                    {{ post.descriptions }}
                    <div class="post-footer">
                        <a href="{{ url_for('main.del_post', id=post.id) }}">删除</a> | <span>{{ post.add_time }}</span>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
    <div class="center">
        {{ macros.pagination_widget(pagination, endpoint) }}
    </div>
{% else %}
    <h4>你还没有发布帖子</h4>
{% endif %}