{% extends 'base.html' %}
{% import '_macros.html' as macros %}

{% block title %}你{{ title }}{% endblock %}

{% block page_content %}
    <div class="container" style="margin-top:76px">
        <div class="col-md-4">
            <a class="aligncenter" {% if current_user == user %} href="{{ url_for('main.userinfo') }}"{% else %} href="{{ url_for('main.user', id=user.id) }}"{% endif %}>
                <img {% if user.avatar %}src="{{ url_for('static', filename='uploads/users/' + user.avatar) }}"{% else %} src="{{ url_for('static', filename='uploads/users/' + 'tjer.gif') }}"{% endif %}
                     style="width: 80%; height: auto; margin-bottom: 20px;" class="img-responsive img-rounded">
            </a>
            <div class="center">
                <a {% if current_user == user %} href="{{ url_for('main.userinfo') }}"{% else %} href="{{ url_for('main.user', id=user.id) }}"{% endif %}
                                                 class="center">
                    <h4>{{ user.username }}</h4>
                </a>
                <br>
                <span class="center" style="font-style: italic">“ {{ user.about_me }} ”</span>
            </div>
        </div>
        <div class="col-md-8">
            {% include '_follows.html' %}
        </div>
    </div>
{% endblock %}