{% extends "base.html" %}
{% import '_macros.html' as macros %}


{% block search %}
    <!-- Start of Search Wrapper -->
    <div class="search-area-wrapper">
        <div class="search-area container1">
            <h3 class="search-header">想找些什么？</h3>
            <p class="search-tag-line">试试下面的搜索，也许可以找到你想要的哦！</p>

            <form id="search-form" class="search-form clearfix" method="get" action="#" autocomplete="off">
                <input class="search-term required" id="keyword" type="text" placeholder="客官想找什么呀！" title="* Please enter a search term!" />
                <a class="search-btn nowarp" id="do_search">搜&nbsp;索</a>
                <div id="search-error-container"></div>
            </form>
        </div>
    </div>
    <!-- End of Search Wrapper -->
{% endblock %}

<!-- Start of Page Container -->
{% block index %}
    <div class="page-container">
        <div class="container1">
            <div class="col-md-8">
                <!-- start of page content -->
                <div class="page-content">
                    <!-- Basic Home Page Template -->
                    <div class="row1 separator">
                        <section class="col-md-6 articles-list">
                            <h3 class="hot"><a href="{{ url_for('main.hot') }}">热门帖子</a></h3>
                            <ul class="articles">
                                {% for post in all_posts[-2] %}
                                    <li class="article-entry">
                                        <h4><a href="{{ url_for('main.post_detail', id=post.id) }}">{{ post.title }}</a></h4>
                                        <span class="article-meta"><a href="{{ url_for('main.user', id=post.user.id) }}">{{ post.user.username }}</a>&nbsp;|&nbsp;{{ moment(post.add_time).format('L') }}-{{ post.view_times }}次浏览</span>
                                        <span class="like-count">{{ post.comments.count() }}回复</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </section>

                        <section class="col-md-6 articles-list">
                            <h3 class="new"><a href="{{ url_for('main.new') }}">最新发布</a></h3>
                            <ul class="articles">
                                {% for post in all_posts[-1] %}
                                    <li class="article-entry">
                                        <h4><a href="{{ url_for('main.post_detail', id=post.id) }}">{{ post.title }}</a></h4>
                                        <span class="article-meta"><a href="{{ url_for('main.user', id=post.user.id) }}">{{ post.user.username }}</a>&nbsp;|&nbsp;{{ moment(post.add_time).format('L') }}-{{ post.view_times }}次浏览</span>
                                        <span class="like-count">{{ post.comments.count() }}回复</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </section>
                    </div>

                    <div class="row1 home-listing-area">
                        <div>
                            <h2>所有分类</h2>
                        </div>
                    </div>

                    <div class="row1 separator">
                        <section class="col-md-6 articles-list">
                            <h3 class="best"><a href="{{ url_for('main.best') }}">精华</a></h3>
                            <ul class="articles">
                                {% for post in all_posts[-3] %}
                                    <li class="article-entry">
                                        <h4><a href="{{ url_for('main.post_detail', id=post.id) }}">{{ post.title }}</a></h4>
                                        <span class="article-meta"><a href="{{ url_for('main.user', id=post.user.id) }}">{{ post.user.username }}</a>&nbsp;|&nbsp;{{ moment(post.add_time).format('L') }}-{{ post.view_times }}次浏览</span>
                                        <span class="like-count">{{ post.comments.count() }}回复</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </section>
                        <section class="col-md-6 articles-list">
                            <h3 class="book"><a href="{{ url_for('main.book') }}">书籍资料</a></h3>
                            <ul class="articles">
                                {% for post in all_posts[8] %}
                                    <li class="article-entry">
                                        <h4><a href="{{ url_for('main.post_detail', id=post.id) }}">{{ post.title }}</a></h4>
                                        <span class="article-meta"><a href="{{ url_for('main.user', id=post.user.id) }}">{{ post.user.username }}</a>&nbsp;|&nbsp;{{ moment(post.add_time).format('L') }}-{{ post.view_times }}次浏览</span>
                                        <span class="like-count">{{ post.comments.count() }}回复</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </section>

                    </div>

                    <div class="row1 separator">

                        <section class="col-md-6 articles-list">
                            <h3 class="transport"><a href="{{ url_for('main.transport') }}">交通工具</a></h3>
                            <ul class="articles">
                                {% for post in all_posts[6] %}
                                    <li class="article-entry">
                                        <h4><a href="{{ url_for('main.post_detail', id=post.id) }}">{{ post.title }}</a></h4>
                                        <span class="article-meta"><a href="{{ url_for('main.user', id=post.user.id) }}">{{ post.user.username }}</a>&nbsp;|&nbsp;{{ moment(post.add_time).format('L') }}-{{ post.view_times }}次浏览</span>
                                        <span class="like-count">{{ post.comments.count() }}回复</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </section>

                        <section class="col-md-6 articles-list">

                            <h3 class="card"><a href="{{ url_for('main.card') }}">卡、票、券</a></h3>
                            <ul class="articles">
                                {% for post in all_posts[5] %}
                                    <li class="article-entry">
                                        <h4><a href="{{ url_for('main.post_detail', id=post.id) }}">{{ post.title }}</a></h4>
                                        <span class="article-meta"><a href="{{ url_for('main.user', id=post.user.id) }}">{{ post.user.username }}</a>&nbsp;|&nbsp;{{ moment(post.add_time).format('L') }}-{{ post.view_times }}次浏览</span>
                                        <span class="like-count">{{ post.comments.count() }}回复</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </section>

                    </div>

                    <div class="row1 separator">

                        <section class="col-md-6 articles-list">
                            <h3 class="electronic"><a href="{{ url_for('main.electronic') }}">数码电子</a></h3>
                            <ul class="articles">
                                {% for post in all_posts[2] %}
                                    <li class="article-entry">
                                        <h4><a href="{{ url_for('main.post_detail', id=post.id) }}">{{ post.title }}</a></h4>
                                        <span class="article-meta"><a href="{{ url_for('main.user', id=post.user.id) }}">{{ post.user.username }}</a>&nbsp;|&nbsp;{{ moment(post.add_time).format('L') }}-{{ post.view_times }}次浏览</span>
                                        <span class="like-count">{{ post.comments.count() }}回复</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </section>

                        <section class="col-md-6 articles-list">
                            <h3 class="clothes"><a href="{{ url_for('main.clothes') }}">服装鞋包</a></h3>
                            <ul class="articles">
                                {% for post in all_posts[7] %}
                                    <li class="article-entry">
                                        <h4><a href="{{ url_for('main.post_detail', id=post.id) }}">{{ post.title }}</a></h4>
                                        <span class="article-meta"><a href="{{ url_for('main.user', id=post.user.id) }}">{{ post.user.username }}</a>&nbsp;|&nbsp;{{ moment(post.add_time).format('L') }}-{{ post.view_times }}次浏览</span>
                                        <span class="like-count">{{ post.comments.count() }}回复</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </section>
                    </div>

                    <div class="row1 separator">

                        <section class="col-md-6 articles-list">
                            <h3 class="daily"><a href="{{ url_for('main.daily') }}">生活用品</a></h3>
                            <ul class="articles">
                                {% for post in all_posts[3] %}
                                    <li class="article-entry">
                                        <h4><a href="{{ url_for('main.post_detail', id=post.id) }}">{{ post.title }}</a></h4>
                                        <span class="article-meta"><a href="{{ url_for('main.user', id=post.user.id) }}">{{ post.user.username }}</a>&nbsp;|&nbsp;{{ moment(post.add_time).format('L') }}-{{ post.view_times }}次浏览</span>
                                        <span class="like-count">{{ post.comments.count() }}回复</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </section>

                        <section class="col-md-6 articles-list">
                            <h3 class="sport"><a href="{{ url_for('main.sport') }}">运动装备</a></h3>
                            <ul class="articles">
                                {% for post in all_posts[4] %}
                                    <li class="article-entry">
                                        <h4><a href="{{ url_for('main.post_detail', id=post.id) }}">{{ post.title }}</a></h4>
                                        <span class="article-meta"><a href="{{ url_for('main.user', id=post.user.id) }}">{{ post.user.username }}</a>&nbsp;|&nbsp;{{ moment(post.add_time).format('L') }}-{{ post.view_times }}次浏览</span>
                                        <span class="like-count">{{ post.comments.count() }}回复</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </section>
                    </div>
                    <div class="row1 separator">

                        <section class="col-md-6 articles-list">
                            <h3 class="buy"><a href="{{ url_for('main.buy') }}">求购</a></h3>
                            <ul class="articles">
                                {% for post in all_posts[1] %}
                                    <li class="article-entry">
                                        <h4><a href="{{ url_for('main.post_detail', id=post.id) }}">{{ post.title }}</a></h4>
                                        <span class="article-meta"><a href="{{ url_for('main.user', id=post.user.id) }}">{{ post.user.username }}</a>&nbsp;|&nbsp;{{ moment(post.add_time).format('L') }}-{{ post.view_times }}次浏览</span>
                                        <span class="like-count">{{ post.comments.count() }}回复</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </section>

                        <section class="col-md-6 articles-list">
                            <h3 class="communication"><a href="{{ url_for('main.communication') }}">交流</a></h3>
                            <ul class="articles">
                                {% for post in all_posts[0] %}
                                    <li class="article-entry">
                                        <h4><a href="{{ url_for('main.post_detail', id=post.id) }}">{{ post.title }}</a></h4>
                                        <span class="article-meta"><a href="{{ url_for('main.user', id=post.user.id) }}">{{ post.user.username }}</a>&nbsp;|&nbsp;{{ moment(post.add_time).format('L') }}-{{ post.view_times }}次浏览</span>
                                        <span class="like-count">{{ post.comments.count() }}回复</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </section>

                    </div>
                    <div class="row1 separator">
                        <section class="col-md-6 articles-list">
                            <h3 class="finished"><a href="{{ url_for('main.finished') }}">已售/已购</a></h3>
                            <ul class="articles">
                                {% for post in all_posts[10] %}
                                    <li class="article-entry">
                                        <h4><a href="{{ url_for('main.post_detail', id=post.id) }}">{{ post.title }}</a></h4>
                                        <span class="article-meta"><a href="{{ url_for('main.user', id=post.user.id) }}">{{ post.user.username }}</a>&nbsp;|&nbsp;{{ moment(post.add_time).format('L') }}-{{ post.view_times }}次浏览</span>
                                        <span class="like-count">{{ post.comments.count() }}回复</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </section>
                        <section class="col-md-6 articles-list">
                            <h3 class="others"><a href="{{ url_for('main.others') }}">其他</a></h3>
                            <ul class="articles">
                                {% for post in all_posts[10] %}
                                    <li class="article-entry">
                                        <h4><a href="{{ url_for('main.post_detail', id=post.id) }}">{{ post.title }}</a></h4>
                                        <span class="article-meta"><a href="{{ url_for('main.user', id=post.user.id) }}">{{ post.user.username }}</a>&nbsp;|&nbsp;{{ moment(post.add_time).format('L') }}-{{ post.view_times }}次浏览</span>
                                        <span class="like-count">{{ post.comments.count() }}回复</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </section>
                    </div>
                </div>
                <!-- end of page content -->
            </div>
            {% include "_sidebar.html" %}
        </div>
        <!-- End of Page Container -->
        <!-- Start of Footer -->
        <footer id="footer-relative">
            <!-- Footer Bottom -->
            <div id="footer-bottom-wrapper">
                <div id="footer-bottom" class="container1">
                    <div class="row1">
                        <p class="copyright">
                            Copyright © 2018. All Rights Reserved by Mr.Xu.
                        </p>
                    </div>
                </div>
            </div>
            <!-- End of Footer Bottom -->
        </footer>
    </div>
    <a href="#top" id="scroll-top"></a>
{% endblock%}
