{% extends 'base.html' %}

{% block page_content %}
    <div id="container">
        <form  method="post" action="" style="margin-top: 30px; margin-bottom: 210px" role="form">
            <div class="form-group">
                {{ form.category.label }}
                {{ form.category }}
                {{ form.title.label }}
                {{ form.title }}
            </div>
            <div class="form-group">
                <input class="editor" name="content" id="content" placeholder="">
            </div>
            <div class="form-group">
                {{ form.csrf_token }}
                {{ form.submit }}
            </div>
        </form>
    </div>
{% endblock %}