{% extends 'base.html' %}
{% import '_macros.html' as macros %}

{% block page_content %}
    <div id="container">
        <div class="row">
            <div class="col-md-6">
                <ol class="breadcrumb" style="margin-top:6px;">
                    <li>找到&nbsp;{{ count[0] }}&nbsp;个与"{{ keyword }}"相关的内容</li></ol>
                <ul class="posts">
                    {% for post in items[0] %}
                        <li class="post">
                            <a href="{{ url_for('main.post_detail', id=post.id) }}"><h3>{{ post.title }}</h3></a>
                            <h5>{{ post.comments.count() }}&nbsp;个回复 | {{ post.view_times }}&nbsp;次浏览</h5>
                            <p>{{ post.descriptions[: 30] | safe + "......"}}</p>
                            <span>{{ post.add_time }}&nbsp;-</span>
                            <a href="{{ url_for('main.user', id=post.user.id) }}">{{ post.user.username }}</a>&nbsp;-
                            <a href="#">{{ post.category.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb" style="margin-top:6px;">
                    <li>找到&nbsp;{{ count[1] }}&nbsp;个与"{{ keyword }}"相关的用户</li>
                </ol>
                <ul class="posts">
                    {% for post in items[1] %}
                        <li class="post">
                            <div class="profile-thumbnail">
                                <a href="{{ url_for('main.user', id=post.id) }}">
                                    <img class="img-rounded profile-thumbnail" {% if post.avatar %}src="{{ url_for('static', filename='uploads/users/' + post.avatar) }}"{% else %} src="{{ url_for('static', filename='uploads/users/' + 'tjer.gif') }}{% endif %}">
                                </a>
                            </div>
                            <div class="post-date" style="font-size: 12px">{{ moment(post.member_since).fromNow() }}加入</div>
                            <div class="post-author" style="margin-left: 15px">
                                <a href="{{ url_for('main.user', id=post.id) }}">
                                    {{ post.username }}
                                </a>
                            </div>
                            <div class="post-body">
                                {% if post.about_me %}
                                    {{ post.about_me }}
                                {% else %}
                                    这个人很神秘，什么也没留下......
                                {% endif %}
                                <div class="post-footer">
                                    {% if current_user != post %}
                                        {% if not current_user.is_following(post) %}
                                            <a href="{{ url_for('main.follow', id=post.id) }}">
                                                <span class="label label-primary">关注</span>
                                            </a>
                                        {% else %}
                                            <a href="{{ url_for('main.unfollow', id=post.id) }}">
                                                <span class="label label-primary">取消关注</span>
                                            </a>
                                        {% endif %}
                                        <a href="{{ url_for('main.user', id=post.id) }}">
                                            <span class="label label-success">留言</span>
                                        </a>
                                    {% endif %}
                                    <a href="#">
                                        <span class="label label-primary">
                                            {{ post.posts.count() }}&nbsp;帖子
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% if count[0] > 0 or count[1] > 0 %}
            <div class="center">
                {{ macros.pagination_widget(pagination, 'main.search', keyword=keyword) }}
            </div>
        {% endif %}
    </div>
{% endblock %}