{% extends 'base.html' %}
{% import '_macros.html' as macros %}

{% block title %}{{ user.username }}的主页{% endblock %}

{% block page_content %}
    <div class="container" style="margin:76px 0; ">
        <div class="col-md-4">
            <a class="aligncenter" {% if current_user == user %} href="{{ url_for('main.userinfo') }}"{% else %} href="{{ url_for('main.user', id=user.id) }}"{% endif %}>
                <img {% if user.avatar %}src="{{ url_for('static', filename='uploads/users/' + user.avatar) }}"{% else %} src="{{ url_for('static', filename='uploads/users/' + 'tjer.gif') }}"{% endif %}
                     style="width: 80%; height: auto; margin-bottom: 20px;" class="img-responsive img-rounded">
            </a>
            <div class="center">
                <a {% if current_user == user %} href="{{ url_for('main.userinfo') }}"{% else %} href="{{ url_for('main.user', id=user.id) }}"{% endif %}>
                    <h4>{{ user.username }}</h4>
                </a>
                <br>
                <span class="center" style="font-style: italic">“ {{ user.about_me }} ”</span>
            </div>
            <div style="margin-top: 20px">
                <form role="form" method="post">
                    <fieldset>
                        <div class="form-group">
                            <div style="text-align: left">
                                <label for="input_info">
                                    <span class="glyphicon glyphicon-edit"></span>&nbsp;{{ form.message.label }}
                                </label>
                            </div>
                            {{ form.message }}
                            {% if form.message.errors %}
                            {% for err in form.message.errors %}
                                <p style="color: red;">{{ err }}</p>
                            {% endfor %}
                        {% endif %}
                        </div>
                        <div class="center">
                            {{ form.csrf_token }}
                            {{ form.submit }}
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="col-md-8">
            <h1 style="margin-top: 0px">{{ user.username }}</h1>
            {% if user.location %}
                <p>
                    来自 <a href="http://maps.baidu.com/?q={{ user.location }}">{{ user.location }}</a><br>
                </p>
            {% endif %}
            {% if current_user.is_admin() %}
                <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
            {% endif %}
            <p>{{ moment(user.member_since).format('L') }} 加入. 最后一次访问在 {{ moment(user.last_seen).fromNow(refresh=True) }}.</p>
            <p>共发布 {{ user.posts.count() }} 篇帖子.</p>
            <p>
                <a href="{{ url_for('.followers', id=user.id) }}">关注: <span class="badge">{{ user.followed.count() }}</span></a>
                <a href="{{ url_for('.followed_by', id=user.id) }}">粉丝: <span class="badge">{{ user.followers.count() }}</span></a>
                {% if current_user.is_authenticated and user != current_user and user.is_following(current_user) %}
                    | <span class="label label-default">关注了你</span>
                {% endif %}
            </p>

            <p>
                {% if user != current_user %}
                    {% if not current_user.is_following(user) %}
                        <a href="{{ url_for('.follow', id=user.id) }}" class="btn btn-system">关注</a>
                    {% else %}
                        <a href="{{ url_for('.unfollow', id=user.id) }}" class="btn btn-system">取消关注</a>
                    {% endif %}
                {% else%}
                    <a class="btn btn-default" href="{{ url_for('main.userinfo') }}">编辑</a>
                {% endif %}
            </p>
            <div class="panel panel-system">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;{{ user.username }}的帖子</h3>
                </div>
                <div class="panel-body">
                    {% if posts %}
                        <ul class="posts">
                            {% for post in posts %}
                                <li style="padding-top: 10px;padding-bottom: 10px;" class="post">
                                    <a href="{{ url_for('main.post_detail', id=post.id) }}"><h3 style="display: inline; vertical-align: center; margin-bottom: 20px;">{{ post.title }}</h3></a>
                                    <div style="margin-top: 20px;">
                                        {{ post.descriptions | safe }}
                                        <div class="post-footer">
                                            <span>{{ post.add_time }}</span>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="center">
                            {{ macros.pagination_widget(pagination, 'main.user', id=user.id) }}
                        </div>
                    {% else %}
                        <h4>ta还没有发布过帖子</h4>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
